
<ion-header>
  <ion-toolbar color="dark">
    <ion-icon   (click)="atras()" name="arrow-back" slot="start"></ion-icon>
    <ion-title class="titulo">Reporte de empleados</ion-title>   
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <ion-item color ="dark" class=" fields">
    <ion-label   color="tertiary"  position="floating" > Año</ion-label>
    <ion-input clear-input type="number"  [(ngModel)]="year"></ion-input>
  </ion-item>
  <ion-item color ="dark" class=" fields">
    <ion-label color="tertiary"  position="floating">Mes</ion-label>
    <ion-select [(ngModel)]="mes"   placeholder="Seleccione una opcion">
      <ion-select-option  value="0">Ninguno</ion-select-option>
      <ion-select-option value="01">Enero</ion-select-option>
      <ion-select-option value="02">Febrero</ion-select-option>
      <ion-select-option value="03">Marzo</ion-select-option>
      <ion-select-option value="04">Abril</ion-select-option>
      <ion-select-option value="05">Mayo</ion-select-option>
      <ion-select-option value="06">Junio</ion-select-option>
      <ion-select-option value="07">Julio</ion-select-option>
      <ion-select-option value="08">Agosto</ion-select-option>
      <ion-select-option value="09">Septiembre</ion-select-option>
      <ion-select-option value="10">Octubre</ion-select-option>
      <ion-select-option value="11">Noviembre</ion-select-option>
      <ion-select-option value="12">Diciembre</ion-select-option>
      </ion-select>
  </ion-item>
  <ion-item color ="dark" class=" fields">
    <ion-label color="tertiary"  position="floating">Salario Mensual</ion-label>
    <ion-select [(ngModel)]="quincena"   placeholder="Seleccione una opcion">
      <ion-select-option  value="0">Ninguno</ion-select-option>
      <ion-select-option  value="1">1ra Quincena</ion-select-option>
      <ion-select-option  value="2">2da Quincena</ion-select-option>
      <ion-select-option  value="3">Mes Completo</ion-select-option>
      </ion-select>
  </ion-item>
  <ion-item color ="dark" class=" fields">
    <ion-label color="tertiary"  position="floating">Empleado</ion-label>
    <ion-select [(ngModel)]="id_user"   placeholder="Seleccione una opcion">
      <ion-select-option  value="0">Ninguno</ion-select-option>
      <ion-select-option button *ngFor = "let temp of (result_user | async)" value={{temp.id}}>{{temp.first_name}} {{temp.last_name}}</ion-select-option>
      </ion-select>
  </ion-item>
 
  <br>
  <div class ="centrado">
    <ion-button  color="dark"  (click)="Consultar()">consultar</ion-button>
  </div>
  
  <br>
  <br>

  <!--Primera quincena --> 
  <ion-item   color = "dark" class=" fields" button *ngFor = "let temp of (result_pagos | async)">
    <ion-label  color="tertiary"  position="floating">Empleado</ion-label>
    <ng-container *ngFor="let Usuario of (result_user | async)">
      <ul *ngIf="temp.id_user==Usuario.id">
        {{Usuario.first_name}} {{Usuario.last_name}}
      </ul>
    </ng-container> 
    
    <ion-label color="tertiary"  position="floating">Inicio Periodo</ion-label><br>
    {{temp.start_period.replace('T00:00:00.000Z',"")}} 
    <ion-label color="tertiary"  position="floating">Fin Periodo</ion-label><br>
    {{temp.end_period.replace('T00:00:00.000Z',"")}} 
    <ion-label color="tertiary"  position="floating">Faltas</ion-label><br>
    {{temp.missed_days}} 
    <ion-label color="tertiary"  position="floating">Pago por Dia</ion-label><br>
    {{temp.payment_per_day}} 
    <ion-label color="tertiary"  position="floating">Total Quincena</ion-label><br>
    {{temp.total_payment - temp.payment_per_day*temp.missed_days}}  <br>
    </ion-item>


     <!--Segunda quincena quincena --> 

  <ion-item  color = "dark" class=" fields" button *ngFor = "let temp of (result_pagos2 | async)">
    <ion-label  color="tertiary"  position="floating">Empleado</ion-label>
    <ng-container *ngFor="let Usuario of (result_user | async)">
      <ul *ngIf="temp.id_user==Usuario.id">
        {{Usuario.first_name}} {{Usuario.last_name}}
      </ul>
    </ng-container> 
     
    <ion-label color="tertiary"  position="floating">Inicio Periodo</ion-label><br>
    {{temp.start_period.replace('T00:00:00.000Z',"")}}
    <ion-label color="tertiary"  position="floating">Fin Periodo</ion-label><br>
    {{temp.end_period.replace('T00:00:00.000Z',"")}} 
    <ion-label color="tertiary"  position="floating">Faltas</ion-label><br>
    {{temp.missed_days}} 
    <ion-label color="tertiary"  position="floating">Pago por Dia</ion-label><br>
    {{temp.payment_per_day}} 
    <ion-label color="tertiary"  position="floating">Total Quincena</ion-label><br>
    {{temp.total_payment - temp.payment_per_day*temp.missed_days}} <br>
    </ion-item>


</ion-content>

