
<ion-header>
  <ion-toolbar color="dark">
    <ion-title class="titulo">Reporte de empleados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <ion-item class=" fields">
    <ion-label   color="tertiary"  position="floating" > Año</ion-label>
    <ion-input clear-input type="number"  [(ngModel)]="year"></ion-input>
  </ion-item>
  <ion-item class=" fields">
    <ion-label color="tertiary"  position="floating">Mes</ion-label>
    <ion-select [(ngModel)]="mes"   placeholder="Seleccione una opcion">
      <ion-select-option  value="0">Ninguno</ion-select-option>
      <ion-select-option value="1">Enero</ion-select-option>
      <ion-select-option value="2">Febrero</ion-select-option>
      <ion-select-option value="3">Marzo</ion-select-option>
      <ion-select-option value="4">Abril</ion-select-option>
      <ion-select-option value="5">Mayo</ion-select-option>
      <ion-select-option value="6">Junio</ion-select-option>
      <ion-select-option value="7">Julio</ion-select-option>
      <ion-select-option value="8">Agosto</ion-select-option>
      <ion-select-option value="9">Septiembre</ion-select-option>
      <ion-select-option value="10">Octubre</ion-select-option>
      <ion-select-option value="11">Noviembre</ion-select-option>
      <ion-select-option value="12">Diciembre</ion-select-option>
      </ion-select>
  </ion-item>
  <ion-item class=" fields">
    <ion-label color="tertiary"  position="floating">Salario Mensual</ion-label>
    <ion-select [(ngModel)]="salario"   placeholder="Seleccione una opcion">
      <ion-select-option  value="0">Ninguno</ion-select-option>
      <ion-select-option  value="1">1ra Quincena</ion-select-option>
      <ion-select-option  value="2">2da Quincena</ion-select-option>
      <ion-select-option  value="3">Mes Completo</ion-select-option>
      </ion-select>
  </ion-item>
  <ion-item class=" fields">
    <ion-label color="tertiary"  position="floating">Empleado</ion-label>
    <ion-select [(ngModel)]="id_user"   placeholder="Seleccione una opcion">
      <ion-select-option  value="0">Ninguno</ion-select-option>
      <ion-select-option button *ngFor = "let temp of (result_user | async)" value={{temp.id}}>{{temp.first_name}} {{temp.last_name}}</ion-select-option>
      </ion-select>
  </ion-item>
 
  <br>
  <div class ="centrado">
    <ion-button  color="dark"  (click)="Consultar()">consultar</ion-button>
  </div>
</ion-content>

