<ion-header>
  <ion-toolbar color="dark">
    <ion-icon   (click)="atras()" name="arrow-back" slot="start"></ion-icon>
    <ion-title class="titulo">Administracion de Prestamos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
<div class="centrado carta">
  <ion-item>
    <ion-label position="floating">Prestamos pendientes</ion-label>
    <ion-select [(ngModel)]="codigoPrest">
      <ion-select-option *ngFor="let codigoItem of filtroprest" value = "{{codigoItem.ID}}">ID: {{ codigoItem.ID }}, MONTO: {{ codigoItem.MONTO }}, CUOTAS: {{ codigoItem.CUOTAS }}, Estado: {{ codigoItem.ESTADO }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button color="warning" (click)="checkPrestamo()">Cargar Datos del Prestamo</ion-button>
  <br>
  <ng-container  *ngIf = "prestamo">
    <ion-item  color = "dark" class=" fields">
      <ion-label color="tertiary"  position="floating">Codigo de Solicitud</ion-label><br>
      {{prestamo.ID}} 
      <ion-label color="tertiary"  position="floating">Razon propuesta</ion-label><br>
      {{prestamo.RAZON}} 
      <ion-label color="tertiary"  position="floating">Monto Solicitado</ion-label><br>
      {{prestamo.MONTO}} 
      <ion-label color="tertiary"  position="floating">Cuotas</ion-label><br>
      {{prestamo.CUOTAS}} 
      <ion-label color="tertiary"  position="floating">Estado de Solicitud</ion-label><br>
      <div *ngIf="prestamo.ESTADO==0">
        Pendiente
      </div>
      <div *ngIf="prestamo.ESTADO==1">
        Aprobado
      </div>
      <div *ngIf="prestamo.ESTADO==2">
        Rechazado
      </div>
      <div *ngIf="prestamo.ESTADO==3">
        Finalizado
      </div>  
      <br>
      <ion-label color="tertiary"  position="floating">Fecha Solicitado</ion-label><br>
      {{prestamo.FECHA_GENERADO.replace('T00:00:00.000Z',"")}} 
    </ion-item>
  </ng-container>
<br>
<ng-container  *ngIf = "prestamo && activo == 1">
  <ion-button color="dark" (click)="reload()">Volver a comenzar</ion-button>
</ng-container>
<ng-container  *ngIf = "prestamo && (promedio > monto) && activo == 0">
  <ion-button color="dark" (click)="aprobar()">Aprobar Prestamo</ion-button>
</ng-container>
<ng-container  *ngIf = "prestamo && activo == 0">
  <ion-button color="dark" (click)="denegar()">Denegar Prestamo</ion-button>
  <ion-button color="dark" (click)="reload()">Volver a comenzar</ion-button>
</ng-container>

</div>
</ion-content>
