<ion-header>
  <ion-toolbar>
    <ion-title>Seguimiento de Prestamos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let temp of data">
    <ion-label color="tertiary"  position="floating">Codigo de Solicitud</ion-label><br>
    {{temp.ID}} <br>
    <ion-label color="tertiary"  position="floating">Razon propuesta</ion-label><br>
    {{temp.RAZON}} <br>
    <ion-label color="tertiary"  position="floating">Monto Solicitado</ion-label><br>
    {{temp.MONTO}} <br>
    <ion-label color="tertiary"  position="floating">Cuotas</ion-label><br>
    {{temp.CUOTAS}} <br>
    <ion-label color="tertiary"  position="floating">Estado de Solicitud</ion-label><br>
    <div *ngIf="temp.ESTADO==0">
      Pendiente
    </div>
    <div *ngIf="temp.ESTADO==1">
      Aprovado
    </div>
    <div *ngIf="temp.ESTADO==2">
      Rechazado
    </div> 
    <br>
    <ion-label color="tertiary"  position="floating">Fecha Solicitado</ion-label><br>
    {{temp.FECHA_GENERADO.replace('T00:00:00.000Z',"")}} <br>
  </ion-item>
</ion-content>