
<ion-header>
  <ion-toolbar color="warning">
    <ion-title class="titulo">Informacion de Usuario</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding class="background">
  <div class="centrado carta">
    <br>
    <ion-item>
      <ion-label position="floating">Codigo de Usuario</ion-label>
      <ion-input clear-input type="text" disabled="true" [(ngModel)]="data.id"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nombre de Usuario</ion-label>
      <ion-input clear-input type="text" disabled="true" [(ngModel)]="data.user_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nombres Empleado</ion-label>
      <ion-input clear-input type="text" disabled="true" [(ngModel)]="data.first_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Apellidos Empleado</ion-label>
      <ion-input clear-input type="text" disabled="true" [(ngModel)]="data.last_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input clear-input type="text" [(ngModel)]="data.password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input clear-input type="text" [(ngModel)]="data.e_mail"></ion-input>
    </ion-item>
    <ion-button color="warning" (click)="modifyUsuario()">Cambiar Contraseña</ion-button>
    <br>
  </div>
</ion-content>