
<ion-header>
  <ion-toolbar color="warning">
    <ion-title class="titulo">Pago de Nomina</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding class="background">
  <div class="centrado carta">
    <ion-item>
      <ion-label position="floating">Nomina</ion-label>
      <ion-select [(ngModel)]="codigoNomina">
        <ion-select-option *ngFor="let codigoNominas of dataNominas"> {{ codigoNominas.id }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button color="warning" (click)="getData()">Cargar Nomina</ion-button>
    <br>
    <ion-item>
      <ion-label position="floating">Codigo de Nomina</ion-label>
      <ion-input clear-input type="text" [(ngModel)]="data.id"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Inicio de Periodo</ion-label>
      <ion-input clear-input type="text" [(ngModel)]="data.start_period"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Final de Periodo</ion-label>
      <ion-input clear-input type="text" [(ngModel)]="data.end_period"></ion-input>
    </ion-item>
		    <ion-item>
      <ion-label position="floating">Dias Perdidos</ion-label>
      <ion-input clear-input type="text" [(ngModel)]="data.missed_days"></ion-input>
    </ion-item>
	
	    <ion-item>
      <ion-label position="floating">Pago por dia</ion-label>
      <ion-input clear-input type="text" [(ngModel)]="data.payment_per_day"></ion-input>
    </ion-item>
	
	    <ion-item>
      <ion-label position="floating">Pago Total</ion-label>
      <ion-input clear-input type="text" [(ngModel)]="data.total_payment"></ion-input>
    </ion-item>
	

  
  
    <ion-item>
      <ion-label position="floating">Id Usuario</ion-label>
      <ion-select [(ngModel)]="codigoNomina">
        <ion-select-option *ngFor="let codigoNominas of dataNominas"> {{ codigoNominas.id_user }}</ion-select-option>
      </ion-select>
    </ion-item>
	
	    <ion-item>
      <ion-label position="floating">TIpo Nomina</ion-label>
      <ion-select [(ngModel)]="codigoNomina">
        <ion-select-option *ngFor="let codigoNominas of dataNominas"> {{ codigoNominas.id_payment_type }}</ion-select-option>
      </ion-select>
    </ion-item> 
	
	

    <ion-button color="warning" (click)="createNomina()">Crear Nomina</ion-button>
    <ion-button color="warning" (click)="modifyNomina()">Modificar Nomina</ion-button>
    <br>
    <ion-button color="warning" (click)="returnMenu()">Menu Principal</ion-button>
    <br>
  </div>
</ion-content>

