
    ion-content.background{
      --background: url(/assets/img/fondo_purpura.png) 0 0/100% 100% no-repeat;
  }

    .centrado{
      text-align: center;
    }

    .fixedLabel {
      color: white;
      min-width: 20% !important;
      max-width: 20% !important;
  }