

<ion-content padding class="background">
<br>
<br>
<br>
<br>
 
<ion-item>
    <ion-label  position="floating" > Usuario</ion-label>
    <ion-icon name="close-circle" slot="end"></ion-icon>
    <ion-input clear-input type="text"  [(ngModel)]="user"></ion-input>
</ion-item>

<ion-item>
  <ion-label  position="floating" > Contraseña</ion-label>
  <ion-icon name="close-circle" slot="end"></ion-icon>
  <ion-input clear-input type="password"  [(ngModel)]="password"></ion-input>
</ion-item>
<br>
  <div class ="centrado">
    <ion-button color="warning"  (click)="presentLoading()">Login</ion-button>
  </div>

  

</ion-content>
