<!-- HEADER DE CRUD-->
<ion-header>
  <ion-toolbar>
    <ion-icon   (click)="returnMenu()" name="arrow-back" slot="start"></ion-icon>
    <ion-title><b>Beneficios (enterprise)</b></ion-title>
  </ion-toolbar>
</ion-header>

<!-- CUERPO DE CRUD-->
<ion-content padding class="background">
  <div class="centrado">

<!-- TITULO DE CRUD-->
    <ion-button padding class="boton">CRUD Beneficios</ion-button>
    <br>

<!-- BOTON DE CARGA-->
    <ion-button color="dark" icon-start>
      <ion-select [(ngModel)]="codigoBeneficio">
        <ion-select-option *ngFor="let codigoItem of dataBeneficios"> 
            {{ codigoItem.id_beneficio}}      
        </ion-select-option>
      </ion-select>
    </ion-button>

    <ion-button (click)="getData()" icon-end>  
      <ion-icon name="add-outline"></ion-icon>
      Cargar
    </ion-button>
    <br>
    <br>

<!-- INPUTS DE CRUD-->
   <ion-card>
    <ion-item>
      <ion-icon name="caret-forward"></ion-icon>
      <ion-input clear-input type="text"   id = "id" placeholder="identificación" [(ngModel)]="data.id_beneficio"></ion-input>
    </ion-item>
    <br>

    <ion-item>
      <ion-icon name="person"></ion-icon>
      <ion-input clear-input type="text"   id = "name"placeholder="nombre" [(ngModel)]="data.nombre_beneficio"></ion-input>
    </ion-item>
    <br>

    <ion-item>
      <ion-icon name="scan-circle"></ion-icon>
  <ion-textarea clearOnEdit="true"  id = "desc" placeholder="cuerpo" [(ngModel)]="data.descripcion_beneficio"></ion-textarea>
  
</ion-item>


  
</ion-card>
<br>

<!-- BOTONES DE ACCION-->
<ion-button onclick="document.getElementById('id').value = '';
                     document.getElementById('name').value = ''; 
                     document.getElementById('desc').value = '';" (click)="createBeneficios()" icon-start>  
  <ion-icon name="checkmark-circle"></ion-icon>
  Crear
</ion-button>


<ion-button (click)="deleteBeneficios()" icon-end>  
  <ion-icon name="close-circle"></ion-icon>
  Eliminar
</ion-button>

<ion-button (click)="modifyBeneficios()" icon-end>  
  <ion-icon name="pencil"></ion-icon>
  Editar
</ion-button>
   </div>

</ion-content>
