<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Solicitud Prestamo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <div class="centrado">
    <ion-item>
      <ion-label>Cuotas</ion-label>
      <ion-select multiple="false" cancelText="Nah" okText="Okay!">
        <ion-select-option value="24">24 meses</ion-select-option>
        <ion-select-option value="olives">Black Olives</ion-select-option>
        <ion-select-option value="xcheese">Extra Cheese</ion-select-option>
        <ion-select-option value="peppers">Green Peppers</ion-select-option>
        <ion-select-option value="mushrooms">Mushrooms</ion-select-option>
        <ion-select-option value="onions">Onions</ion-select-option>
        <ion-select-option value="pepperoni">Pepperoni</ion-select-option>
        <ion-select-option value="pineapple">Pineapple</ion-select-option>
        <ion-select-option value="sausage">Sausage</ion-select-option>
        <ion-select-option value="Spinach">Spinach</ion-select-option>
      </ion-select>
    </ion-item>
  </div>
</ion-content>
