<ion-header>
  <ion-toolbar color="dark">
    <ion-title class="titulo" *ngIf="type == 0">Menu Staff</ion-title>
    <ion-title class="titulo" *ngIf="type == 1">Menu Staff</ion-title>
    <ion-title class="titulo" *ngIf="type == 2">Menu Empleado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">


  <ion-grid class = "centrado">
    <ion-row>
      <ion-col>
       <div>
        <ion-button expand="full" (click)="move2info()">Informacion de usuario</ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div *ngIf="type < 2; else elseBlock1">
          <ion-button expand="full" (click)="move2crud()">Administrar Usuarios</ion-button>
        </div>
        <ng-template #elseBlock1>
          <div>
            <ion-button expand="full" (click)="move2checkpay()">Consultar Pagos</ion-button>
          </div>
        </ng-template>
      </ion-col>
      <ion-col>
        <div *ngIf="type < 2; else elseBlock2">
          <ion-button expand="full" >Pago de Nomina</ion-button>
        </div>
        <ng-template #elseBlock2>
         
          <div>
            <ion-button expand="full" (click)="move2solprestamo()">Solicitar Prestamo</ion-button> 
          </div> 
     
        </ng-template>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div *ngIf="type < 2; else elseBlock3">
          <!---->
          <ion-button expand="full" (click)="move2staffcheckpay()">Consultar historial pagos</ion-button>
        </div>
        <ng-template #elseBlock3>
           <div>
             <ion-button expand="full" (click)="move2checkloans()">Revisar Solicitudes</ion-button> 
           </div>
         </ng-template>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
       <div>
        <ion-button expand="full" (click)="move2login()">Salir</ion-button>
       </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
