<ion-header>
  <ion-toolbar color="warning">
    <ion-title class="titulo" *ngIf="type == 0">Menu Staff</ion-title>
    <ion-title class="titulo" *ngIf="type == 1">Menu Staff</ion-title>
    <ion-title class="titulo" *ngIf="type == 2">Menu Empleado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">


  <ion-grid>
    <ion-row>
      <ion-col>
       <div>
        <ion-button expand="full" (click)="move2info()">Informacion de usuario</ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div *ngIf="type < 2; else elseBlock">
          <ion-button expand="full" (click)="move2crud()">Administrar Usuarios</ion-button>
        </div>
        <ng-template #elseBlock>
          <div>
            <ion-button expand="full" (click)="">Consultar Pagos</ion-button>
          </div>
        </ng-template>
      </ion-col>
      <ion-col>
        <div *ngIf="type < 2; else elseBlock">
          <ion-button expand="full" (click)="">Pago de Nomina</ion-button>
        </div>
        <ng-template #elseBlock>
          <div>
            <ion-button expand="full" (click)="">Vacio</ion-button>
          </div>
        </ng-template>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div *ngIf="type < 2; else elseBlock">
          <ion-button expand="full" (click)="">Consultar historial pagos</ion-button>
        </div>
        <ng-template #elseBlock>
          <div>
            <ion-button expand="full" (click)="">Vacio</ion-button>
          </div>
        </ng-template>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
       <div>
        <ion-button (click)="mover_Consulta_Empresa()">Consulta Empresarial</ion-button>
        <ng-template #elseBlock></ng-template>
       </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
       <div>
        <ion-button expand="full" (click)="move2login()">Salir</ion-button>
       </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
