<ion-header>
  <ion-toolbar color="dark"> 
    <ion-icon   (click)="atras()" name="arrow-back" slot="start"></ion-icon>
    <ion-title class="titulo">Solicitud de Constancias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <div class="centrado">
    <ion-item  color="dark" class="fields">
      <ion-label position="floating">Constancia</ion-label>
      <ion-select multiple="false" cancelText="Cancelar" okText="Seleccionar" type="number" [(ngModel)]="data.tipoConstancia">
        <ion-select-option value="1">Laboral</ion-select-option>
        <ion-select-option value="2">Ingresos</ion-select-option>
        <ion-select-option value="3">Vacaciones</ion-select-option>
        
      </ion-select>
    </ion-item>
    <ion-item color="dark" class="fields">
      <ion-label position="floating">Motivo de la solicitud de la constancia</ion-label>
      <ion-textarea rows="5" type="string" [(ngModel)]="data.cuerpo_constancia"></ion-textarea>
    </ion-item>
    <br>
    <ion-button color="dark" (click)="solicitarconstancia()">Enviar Solicitud</ion-button>
  </div>
</ion-content>